---
/**
 * WIP
 */
---

<section class="my-18">
  <h2 class="text-2xl font-bold">Features</h2>
  <div class="grid grid-cols-2 gap-3 mt-3">
    <article>
      <h3 class="font-semibold">Beautiful and accesible</h3>
      <p>
        We provide a beautiful and accesible design for your API documentation.
      </p>
    </article>
    <article>
      <h3 class="font-semibold">Powered by Astro</h3>
      <p>
        Astro is a modern static site generator that help us to build fast and
        modern websites.
      </p>
    </article>
    <article>
      <h3 class="font-semibold">Powered by Astro</h3>
      <p>
        Astro is a modern static site generator that help us to build fast and
        modern websites.
      </p>
    </article>
    <article>
      <h3 class="font-semibold">Beautiful and accesible</h3>
      <p>
        We provide a beautiful and accesible design for your API documentation.
      </p>
    </article>
  </div>

  <style>
    article {
      @apply p-3 border border-neutral-500 rounded;
    }
    article:hover {
      @apply border-rose-600;
    }
  </style>
</section>
