@layer reset, base, components;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /**
      * COLORS VARIABLES
      */
    --color-primary: #f43f5e;
    --color-primary-dark: #9f1239;
    --color-secondary: #14b8a6;
    --color-secondary-dark: #115e59;
    --color-white: #ffffff;
    --color-lighter: #f4f4f5;
    --color-light: #d4d4d8;
    --color-neutral: #71717a;
    --color-dark: #27272a;
    --color-darker: #18181b;
    --color-black: #000000;
  }
  /**
    * BODY
    */
  body {
    background-color: var(--color-white);
    color: var(--color-darker);
  }
  .dark body {
    background-color: var(--color-darker);
    color: var(--color-lighter);
  }
  /**
    * MAIN
    */
  main {
    padding: 0 1.5rem;
    margin: 0 auto;
  }
  /**
    * SECTION
    */
  section {
    margin: 5rem 0;
  }
  /**
    * TYPOGRAPHY
    */
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1.5rem;
  }
  p {
    margin: 0.75rem 0;
  }
  /**
    * BUTTONS
    */
  .button {
    display: flex;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid var(--color-neutral);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .button:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  .button-alt:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
  }
  /**
    * CARDS
    */
  .card {
    display: flex;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid var(--color-neutral);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .card:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  .card-alt:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
  }
  /**
    * LINKS (and links before/after)
    */
  p a {
    /* decoration has a fixed value, so it doesn't change with the font size */
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-style: dotted;
    white-space: nowrap;
  }

  p a:hover {
    color: var(--color-primary);
  }

  p a:active,
  p a:focus {
    color: var(--color-primary-dark);
  }

  /*
  p a[href^="/tag-"]::before {
    content: "\f02b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.75rem;
    padding-right: 0.2rem;
    color: inherit;
    display: inline-block;
  }

  p a[href^="http://"]::after, p a[href^="https://"]::after
  {
    content: "\f360";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.65rem;
    padding-left: 0.2rem;
    color: inherit;
    display: inline-block;
  }

  p a[href^="https://www.youtube.com/"]::after, p a[href^="https://youtu.be/"]::after
  {
    content: "\f167";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  p a[href^="https://en.wikipedia.org/"]::after, p a[href^="https://fr.wikipedia.org/"]::after
  {
    content: "\f266";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  p a[href^="https://www.instagram.com/"]::after
  {
    content: "\f16d";
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
  }

  p a[href^="https://github.com/"]::after
  {
    content: "";
    padding-left: 0;
  }

  p a[href^="mailto"]::after {
    content: "\f1d8";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.65rem;
    padding-left: 0.2rem;
    color: inherit;
    display: inline-block;
  }
  */
}
