---
import Layout from "../layouts/Layout.astro"
import LandingHero from "$layouts/landing/LandingHero.astro"
import LandingFeatures from "$layouts/landing/LandingFeatures.astro"
/**
 * This is the landing page of the website.
 */
---

<Layout title="Welcome">
  <main class="max-w-screen-lg mx-auto px-6">
    <LandingHero />
    <LandingFeatures />
  </main>
</Layout>
