---
/**
 * An internal link, displayed in the Header navigation.
 * @param {string} url - The URL to link to.
 * @param {boolean} is_current - Whether the link is the current page.
 */
const { url, is_current = false } = Astro.props
---

<a
  class="header-nav-link"
  href={url}
  aria-current={is_current ? "page" : false}
>
  <slot />
</a>
<style>
  @tailwind components;

  @layer components {
    a.header-nav-link {
      @apply border border-transparent px-2 py-1 rounded flex items-center gap-1;
    }
    a.header-nav-link:hover {
      @apply border-neutral-500;
    }
    a.header-nav-link:active {
      @apply text-rose-600 border-rose-600;
    }
  }
</style>
